# --- Backend (Gradle & Java) ---
.gradle/
build/
out/
.vscode/
bin/

# --- IntelliJ (Ustawienia edytora) ---
.idea/
*.iml
*.iws
*.ipr

# --- Frontend (Uniwersalne reguły dla podfolderów) ---
**/node_modules/
**/dist/
**/build-fe/
**/.env.local
**/.env

# --- Systemowe ---
.DS_Store
Thumbs.db
