
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/resources/archetype-resources/**
!**/src/test/resources/archetype-resources/**

*.log
.env

**/node_modules/
**/dist/
**/build/
**/.next/
**/out/
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

.idea/
*.iws
*.iml
*.ipr
.vscode/
bin/
out/

.DS_Store
Thumbs.db